.textContainer {
    display: flex;
    flex-direction: column;
    height: 75%;
}

.formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.feedbackInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
    background: #f2f2f2;
}

.button {
    transition-duration: 0.4s;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.button:hover {
    background-color: #4caf50;
    color: white;
}
